{{#if courses}}
    <h2>Add an assignment</h2>
    <div class="content">
        <form action="/assignments" method="POST">
            Class:
            <select name="courseID">
            {{#each courses}}
                <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
            </select><br>
            Due: <input type="date" name="date"><br>
            Title: <input type="text" name="title"><br>
            Details: <textarea name="details"></textarea><br>
            <input type="submit" value="Add">
        </form>
    </div>
{{else}}
    <p>Add a course first!</p>
{{/if}}
<script src="assignments.js"></script>
