<h2>Add a course</h2>
<div class="content">
    <form action="/courses" method="POST">
        Class name: <input type="text" name="name">
        <br />
        Class color:
        <select name="color">
            <option>red</option>
            <option>blue</option>
            <option>green</option>
            <option>purple</option>
            <option>orange</option>
        </select>
        <br />
        <input type="submit" value="Add">
        <div id="validation" class="validationMsg"></div>
    </form>
</div>
{{#if courses}}
    <h2>Current classes</h2>
    <div class="content">
        <ul>
        {{#each courses}}
            <li>{{this.name}} - {{this.color}}</li>
        {{/each}}
        </ul>
    </div>
{{/if}}
<script src="courses.js"></script>
