<h2>Register</h2>
<div class="content">
    <form method="POST" action="/register">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        Reenter password: <input type="password" name="verify"><br>
        <input type="submit" value="Register">
    </form>
</div>
<script src="register.js"></script>
