html, body {
    margin-left: 0.75em;
    margin-right: 0.75em;
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
}
h4 {
     font-family: 'Raleway', sans-serif;
}
#navbar {
    text-align: center;
}
.nav {
    line-height: 2.5em;
    text-align: center;
    height: 2.5em;
    background-color: #5e5559;
}
.nav:hover {
    background-color: #7c7076;
}
#message {

}
.hidden {
    display: none;
}
.validationMsg {

}
.assignment {
    border-left: 0.5em solid white;
    border-bottom: 0.5em solid white;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}
form {
    color: black;
}
