html {
    background-color: #333333;
    color: white;
    margin-left: 0.75em;
    margin-right: 0.75em;
    font-family: sans-serif;
}
a {
    border: 0.1em solid black;
    box-sizing: border-box;
    color: white;
    display: inline-block;
}
#navbar {
    text-align: center;
}
.nav {
    line-height: 2.5em;
    text-align: center;
    height: 2.5em;
    background-color: #5e5559;
}
.nav:hover {
    background-color: #7c7076;
}
#message {

}
.hidden {
    display: none;
}
.validationMsg {

}
.assignment {
    border: 0.1em solid black;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}
